.icons {
    float: left;
    margin-right: 5%;
    display: table;
    text-align: center;
}

.heading-about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.heading-about h2{
    text-align: center;
    font-size: 40px;
}

.heading-about h3{
    text-align: center;
    font-size: 25px;
}

.topic-objective{
    padding-left: 10px;
    border-left: crimson solid 5px;
    text-align: left;
    font-size: 35px;
    margin-bottom: 25px ;
}

.content-objective{
    margin-left: 33px;
    margin-right: 33px;
    background-color: white;
    height: 200px;
}

.content-objective a{
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
}

.content-objective p{
    padding-bottom: 10px;
    font-size: 18px;
}

