.icons {
    padding-top: 15px;
}

.heading-about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.heading-about h2 {
    text-align: center;
    font-size: 40px;
}

.heading-about h3 {
    text-align: center;
    font-size: 25px;
}

.topic-objective {
    padding-left: 10px;
    border-left: crimson solid 5px;
    text-align: left;
    font-size: 35px;
    margin-bottom: 25px;
}

.bg-about-us {
    margin-top: 40px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: white;
    border-radius: 10px;
}

.bg-about-us p {
    padding-top: 10px;
    padding: 15px;
}

.content-objective {
    margin-left: 33px;
    margin-right: 33px;
    background-color: white;
    height: 200px;
}

.content-objective a {
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
}

.content-objective p {
    padding-bottom: 10px;
    font-size: 18px;
}